<div class="sort-buttons">
  <button (click)="sortProducts('price', 'asc')">Sort by Price Ascending</button>
  <button (click)="sortProducts('price', 'desc')">Sort by Price Descending</button>
  <button (click)="sortProducts('publishDate', 'asc')">Sort by Date Ascending</button>
  <button (click)="sortProducts('publishDate', 'desc')">Sort by Date Descending</button>
</div>


<div class="products-list">
  <div class="product-item" *ngFor="let product of products">
    <h3>{{ product.name }}</h3>
    <p>Published: {{ product.publishDate | date }}</p>
    <img [src]="product.imageUrl" [alt]="product.name" class="product-image">
    <p>Price: {{ product.price }}₪</p>
    <button (click)="showDetails(product.id)">More Details</button>
    <button (click)="purchase(product.id)">Purchase</button>
  </div>
</div>
